@tailwind base;
@tailwind components;
@tailwind utilities;

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */


html {
  background-color: #0B0B0D;
  color: #C9CCD6;
}

body {
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-weight: 300;
  letter-spacing: -0.02em;
}

p {
  line-height: 1.7;
}
